<?xml version="1.0"?>
<launch>

<node pkg="tf" type="static_transform_publisher" name="pub_tf_baxterBase2cameraLink" args=" 0.23000 0.063 0.275439  0.026372 0.029066 0.013821 0.999134 /base /camera_link 100 " />

<!-- camera to opennit track -->
<node pkg="tf" type="static_transform_publisher" name="pub_tf_cameraDepthFrame2openniDepthFrame" args="0 0 0 0 0 0 /camera_depth_frame /openni_depth_frame 100" />

</launch>   
